extends ../../../templates/layout

block content

    // page-header
    .page-header
        ol.breadcrumb
            // breadcrumb
            li.breadcrumb-item
                a(href='/0000019-009A') Home
            li.breadcrumb-item.active(aria-current='page') Lcd Hospice Eligibility Determination
        // End breadcrumb

    // End page-header
    .card
        .card-header
            .card-title PART III - DISEASE SPECIFIC GUIDELINES
        .card-body
            .card
                .card-body
                    .table-responsive
                        table.table.card-table.table-vcenter.text-nowrap.table-nowrap
                            thead.bg-danger.text-white
                                tr
                                    th.text-white HEART DISEASE ( 1 AND 2 MUST BE MET ) 
                                    th.text-white CONDITION EXIST

                            tbody
                                tr
                                    td.bg-primary.text-white 1. Untreatable Condition ( Any One should be met )
                                    td.bg-primary.text-white
                                tr
                                    td a. Has patient been ruled out as a candidate for surgical procedures ?
                                    td

                                tr
                                    td b. Has patient declined surgical procedures ?

                                    td
                                    
                                tr
                                    td c. Is patient optimally treated for heart diease with diuretics and vasodilators ?

                                    td
                                tr
                                    td d. Is patient unable to be on vasodilators due to medical condition ? ( e.g. hypotension or renal disease )

                                    td

                                    
                                tr
                                    td.bg-primary.text-white 2. NYHA classification ( condition 'a' must be met )
                                    td.bg-primary.text-white
                                tr
                                    td a. Does this CHF or angina patient meet the criteria for NYHA class IV level ?
                                    td

                                tr
                                    td b. Is Ejection fraction < 20 ( if available )

                                    td
                                tr
                                    td.bg-primary.text-white 3. History / Progression - Supporting Factor
                                    td.bg-primary.text-white
                                tr
                                    td a. Hx of treatment-resistant symptomatic supraventricular or ventricular arrhythmias ?
                                    td

                                tr
                                    td b. Hx of cardiac arrest or resuscitation ?

                                    td
                                tr
                                    td c. Hx of unexplained syncope/fainting ?

                                    td
                                tr
                                    td d. Any brain embolism of cardiac origin ?

                                    td
                                tr
                                    td e. Concomitant HIV disease ?

                                    td
            

