extends ../../../templates/layout

block content

    // page-header
    .page-header
        ol.breadcrumb
            // breadcrumb
            li.breadcrumb-item
                a(href='/nursing/assessment-list') STAFF ASSIGNMENT
            li.breadcrumb-item.active(aria-current='page') HOME
        // End breadcrumb
        .ml-auto
            .input-group

    // End page-header

    .row
        .col-xl-12.col-lg-12.col-md-12
            .card
                .card-header.custom-header
                    div
                        h3.card-title STAFF ASSIGNMENT LIST
                .card-body

                    .row

                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title MD / NP
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT



                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title CM
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT



                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title RN
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT



                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title LVN
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT



                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title HA
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT


                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title MSW / BSW / LCSW
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT




                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title SC
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT


                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title BC
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT



                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title VOL
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT


                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title SURVEYOR / CONTRACTED STAFF
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT



                        .col-xl-4.col-lg-4.col-md-4
                            .card
                                .card-header.custom-header
                                    div
                                        h3.card-title PT / ST / OT / NU
                                .card-body
                                    .table-responsive
                                        table.table.table-bordered.text-nowrap.mb-0
                                            thead
                                                tr
                                                    th NAME
                                                    th CELL
                                                    th

                                            tbody
                                                tr
                                                    td
                                                        a(href='#') PRO12345
                                                    td
                                                    td
                                .card-footer.pull-right
                                    a.btn.btn-block.btn-danger(href='#')
                                        i.fe.fe-plus-circle.mr-1.mt-1
                                        |  ADD STAFF ASSIGNMENT







